<router-outlet></router-outlet>

<section class="container">
    <div class="ingredientes">
        <h2>Ingredientes para rollos</h2>

        <ul class="lista">
            <li class="inside">Avocado</li>
            <li class="topping">Bonito flakes</li>
            <li class="inside">Carrot</li>
            <li class="inside">Crab mayo</li>
            <li class="inside">Cream cheese</li>
            <li class="inside">Cucumber</li>
            <li class="outside">Cut lemon</li>
            <li class="inside">Eel</li>
            <li class="topping">Eel sauce</li>
            <li class="topping">Fried Onion</li>
            <li class="inside">Green laaf</li>
            <li class="outside">Green onion</li>
            <li class="topping">Golden crunchy</li>
            <li class="topping">Masago</li>
            <li class="outside">Salmon</li>
            <li class="inside">Salmon skin</li>
            <li class="outside">Salt</li>
            <li class="outside">Seared salmon</li>
            <li class="outside">Sesame</li>
            <li class="inside">Shrimp mayo</li>
            <li class="outside">Shrimp</li>
            <li class="inside">Spicy salmon</li>
            <li class="inside">Shrimp tempra</li>
            <li class="topping">Spicy sauce</li>
            <li class="inside">Spicy tuna</li>
            <li class="outside">Popcorn Shrimp</li>
            <li class="outside">Red snapper</li>
            <li class="outside">Tuna</li>
            <li class="outside">Yellowtail</li>
            <li class="topping">Yuzu cream sauce</li>
            <li class="topping">Jalapeño</li>
            <li class="inside">Soft shell crab tempure</li>
            <li class="topping">Ikura</li>
           
        </ul>
    </div>
    <div class="random">
        <h2>Rollo aleatorio</h2>
        <p>Nombre del rollo</p>
    </div>
</section>

