.inside {
    background-color: #e20f0f; /* Rojo coral */
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 10px;
}

.outside {
    background-color: #66ff66; /* Verde suave */
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 10px;
}

.topping {
    background-color:  #ff7f7f; /* Rosa coral */
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.left-column-fixed {
    max-width: calc(100% - 400px); /* Resta el ancho de la columna derecha */
    flex-shrink: 1;
    padding: 2px;
    box-sizing: border-box;
}

.right-column {
    width: 300px;
    background-color: #f0f0f0;
    overflow-y: auto;
    position: sticky;
    flex-shrink: 1;
    top: 0;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .left-column-fixed {
        max-width: 500px;
    }

    .left-column,
    .right-column {
        width: 50%;
    }
}



h3 {
    color: #800080; /* Púrpura oscuro */
    font-size: 18px;
}

.tituloRollo { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #0000cd; /* Azul oscuro */
    font-size: 30px;
    font-weight: 900;
    margin: 1rem;
}

.subtitulo {
    color: #800080; /* Púrpura oscuro */
    font-size: 25px;
    font-weight: 900;
    margin: 1rem;
}

.ingredientes-seleccionados-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Cambiado de align-items: flex-end a align-items: center */
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.ingredientes-seleccionados-flex li {
    width: 100%;
    margin-bottom: 10px;
    
}

.ingrediente-seleccionado {
    
    background-color: #4a90e2; /* Azul real */
    padding: 1rem;
    margin-bottom: rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; /* Bordes redondeados para un aspecto más suave */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
    transition: background-color 0.2s ease-in-out; /* Efecto de transición al pasar el cursor */
}

.ingrediente-seleccionado:hover {
    background-color: #0066cc; /* Cambia el color al pasar el cursor */
}

.boton {
    width: 100%;
    margin-bottom: 20px;
}

.boton-eliminar-ingrediente,
.boton-validar,
.boton-random {
    background-color: #6cb7c1; /* Color azul verdoso */
    border: none;
    border-radius: 20px; /* Bordes redondeados para los botones */
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; /* Efecto de transición al pasar el cursor */

    /* Estilos personalizados */

    font-weight: 600; /* Negrita */
    color: white; /* Blanco */
    text-transform: uppercase; /* Mayúsculas */

    /* Efectos de sombra */

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    
    /* Margen y centrado */
    margin: 10px auto;
    display: block;
}

.boton-eliminar-ingrediente {
    background-color: #ff5050; /* Color rojo */
}


.boton-validar:hover,
.boton-random:hover {
    background-color: #8bbfd0; /* Color azul verdoso claro */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.boton-cambiar-rollo {
    background-color: #f5bb00; /* Color amarillo */
    border: none;
    border-radius: 20px; /* Bordes redondeados para los botones */
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; /* Efecto de transición al pasar el cursor */

    /* Estilos personalizados */

    font-weight: 600; /* Negrita */
    color: white; /* Blanco */
    text-transform: uppercase; /* Mayúsculas */

    /* Efectos de sombra */

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    
    /* Margen y centrado */
    margin: 10px auto;
    display: block;
}

.boton-cambiar-rollo:hover {
    background-color: #f9d57e; /* Color amarillo claro */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.ingredientes-seleccionados img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 40px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    object-fit: cover; /* Ajusta el tamaño de la imagen manteniendo las proporciones */
    border: 2px solid #2c12bad6; /* Borde con color */
}

.ingredientes-seleccionados img:hover {
    transform: scale(1.1);
    border-color: #f59f00; /* Cambia el color del borde al pasar el cursor */
}

h2 {
    color: #1aae9b; /* Gris oscuro */
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

h3 {
    color: #ff4d4d; /* Rojo coral */
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}


