.inside {
    background-color: red;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.outside {
    background-color: greenyellow;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.topping {
    background-color: pink;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.container { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    padding-left: 0rem;
    padding-right: 2rem;
}

.boton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
}

.tituloRollo { 
    color: purple;
    font-size: 25px;
    font-weight: 900;
    margin-left: 1rem;
    
}

.ingredientes-seleccionados {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}

.ingrediente-seleccionado.inside {
    background-color: red;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .ingrediente-seleccionado.outside {
    background-color: greenyellow;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .ingrediente-seleccionado.topping {
    background-color: pink;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }