<router-outlet></router-outlet>

<section class="container">
    <div class="ingredientes">
        <h2>Ingredientes para rollos</h2>

        <ul class="lista">
            <li class="inside" (click)="anadirIngrediente($event)">Avocado</li>
            <li class="topping"  (click)="anadirIngrediente($event)">Bonito flakes</li>
            <li class="inside"  (click)="anadirIngrediente($event)">Carrot</li>
            <li class="inside" (click)="anadirIngrediente($event)">Crab mayo</li>
            <li class="inside" (click)="anadirIngrediente($event)">Cream cheese</li>
            <li class="inside" (click)="anadirIngrediente($event)">Cucumber</li>
            <li class="outside" (click)="anadirIngrediente($event)">Cut lemon</li>
            <li class="inside" (click)="anadirIngrediente($event)">Eel</li>
            <li class="topping" (click)="anadirIngrediente($event)">Eel sauce</li>
            <li class="topping" (click)="anadirIngrediente($event)">Fried Onion</li>
            <li class="inside" (click)="anadirIngrediente($event)">Green laaf</li>
            <li class="outside" (click)="anadirIngrediente($event)">Green onion</li>
            <li class="topping" (click)="anadirIngrediente($event)">Golden crunchy</li>
            <li class="topping" (click)="anadirIngrediente($event)">Ikura</li>
            <li class="topping" (click)="anadirIngrediente($event)">Masago</li>
            <li class="outside" (click)="anadirIngrediente($event)">Salmon</li>
            <li class="inside" (click)="anadirIngrediente($event)">Salmon skin</li>
            <li class="outside" (click)="anadirIngrediente($event)">Salt</li>
            <li class="outside" (click)="anadirIngrediente($event)">Seared salmon</li>
            <li class="outside" (click)="anadirIngrediente($event)">Sesame</li>
            <li class="inside" (click)="anadirIngrediente($event)">Shrimp mayo</li>
            <li class="outside" (click)="anadirIngrediente($event)">Shrimp</li>
            <li class="inside" (click)="anadirIngrediente($event)">Spicy salmon</li>
            <li class="inside" (click)="anadirIngrediente($event)">Shrimp tempra</li>
            <li class="topping" (click)="anadirIngrediente($event)">Spicy sauce</li>
            <li class="inside" (click)="anadirIngrediente($event)">Spicy tuna</li>
            <li class="outside" (click)="anadirIngrediente($event)">Popcorn Shrimp</li>
            <li class="outside" (click)="anadirIngrediente($event)">Red snapper</li>
            <li class="outside" (click)="anadirIngrediente($event)">Tuna</li>
            <li class="outside" (click)="anadirIngrediente($event)">Yellowtail</li>
            <li class="topping" (click)="anadirIngrediente($event)">Yuzu cream sauce</li>
            <li class="topping" (click)="anadirIngrediente($event)">Jalapeño</li>
            <li class="inside" (click)="anadirIngrediente($event)">Soft shell crab tempure</li>
           
        </ul>
    </div>
    <div class="random">
        <h2 >Rollo aleatorio</h2>
      
        <div class="boton">

            <p class="tituloRollo">{{nombreRollo}}</p>
            <button type="button" style="background-color: orange; border-color: black; border-radius: 20px; font-size: 20px; cursor: pointer; padding: 0rem; margin: 1rem;" (click)="generarRolloAleatorio()">
                Cambiar Rollo
            </button>
        </div>
        <div class="ingredientes-seleccionados">
            <h2>Ingredientes seleccionados</h2>
            <ul>
                <li *ngFor="let ingrediente of ingredientesSeleccionados">{{ ingrediente }}</li>
            </ul>
            <button type="button" (click)="validarRollo()">Validar Rollo</button>
        </div>
    </div>
</section>
