<router-outlet></router-outlet>

<section class="container">
    <div class="ingredientes">
        <h2>Ingredientes</h2>
        <h3>Selecciona los ingredientes correctos del rollo que esta a la derecha</h3>

        <ul class="listingrediente a">
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Avocado</li>
            <li class="ingrediente topping"  (click)="anadirIngrediente($event)">Bonito flakes</li>
            <li class="ingrediente inside"  (click)="anadirIngrediente($event)">Carrot</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Crab mayo</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Cream cheese</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Cucumber</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Cut lemon</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Eel</li>
            <li class="ingrediente topping" (click)="anadirIngrediente($event)">Eel sauce</li>
            <li class="ingrediente topping" (click)="anadirIngrediente($event)">Fried Onion</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Green laaf</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Green onion</li>
            <li class="ingrediente topping" (click)="anadirIngrediente($event)">Golden crunchy</li>
            <li class="ingrediente topping" (click)="anadirIngrediente($event)">Ikura</li>
            <li class="ingrediente topping" (click)="anadirIngrediente($event)">Jalapeño</li>
            <li class="ingrediente topping" (click)="anadirIngrediente($event)">Masago</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Salmon</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Salmon skin</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Salt</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Seared salmon</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Sesame</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Shrimp mayo</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Shrimp</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Spicy salmon</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Shrimp tempra</li>
            <li class="ingrediente topping" (click)="anadirIngrediente($event)">Spicy sauce</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Spicy tuna</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Popcorn Shrimp</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Red snapper</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Tuna</li>
            <li class="ingrediente outside" (click)="anadirIngrediente($event)">Yellowtail</li>
            <li class="ingrediente topping" (click)="anadirIngrediente($event)">Yuzu cream sauce</li>
            <li class="ingrediente inside" (click)="anadirIngrediente($event)">Soft shell crab tempure</li>
          
        </ul>
    </div>

    <div class="random">
        <h2  >{{nombreRollo}}</h2>
        <div class="boton">
            <button type="button" class="boton-cambiar-rollo boton-ingrediente" style="align-content: center; margin-left: 3rem;" (click)="generarRolloAleatorio()">
                Cambiar Rollo
            </button>
        </div>

        <div class="ingredientes-seleccionados">
          
            <h2 class="subtitulo">Ingredientes seleccionados</h2>
            <ul>
                <li *ngFor="let ingrediente of ingredientesSeleccionados" [ngClass]="{
                    'ingrediente-seleccionado': true
                  }">{{ ingrediente }}</li>
            </ul>
            
            <img src="assets/rollos/{{ formatNombreRollo(rolloAleatorio?.nombre) }}.png" alt="Imagen de {{ nombreRollo }}" style="width: 100px; height: 100px;">

            <button #botonDeshacer *ngIf="botonDeshacer" class="boton-eliminar-ingrediente" (click)="deshacerIngrediente()">Eliminar ingrediente</button>
            <button type="button" (click)="validarRollo()" class="boton-validar">Validar Rollo</button>
            <button type="button" class="boton-cambiar-rollo boton-ingrediente" style="align-content: center; margin-left: 3rem;" (click)="generarRolloAleatorio()">
                Cambiar Rollo
            </button>
        </div>
    </div>
</section>
