.inside {
    background-color: red;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.outside {
    background-color: greenyellow;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.topping {
    background-color: pink;
    padding: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.container { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
